.header {
  padding: 10px;
  text-align: center;
  background: rgb(85, 187, 210);
  color: white;
  font-size: 25px;
  font-family: verdana;
}


* {
    box-sizing: border-box;
    font-family: verdana;
}
body {
  font-family: verdana;
  margin: 0;
}

/* Page Content */
.content {padding:35px;}

h1 {
    color: white;
    text-align: center;
    font-family: verdana;
}
p {
    font-family: verdana;
    font-size: 18px;
  }
  /* Style the footer */
.footer {
    background-color: rgb(85, 187, 210);
    padding: 15px;
    text-align: center;
    font-family: verdana;
    font-size: small;
    color: rgb(53, 51, 51);
  }
