.card {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #DEDEDE;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  
  img {
    width: 95%;
    height: 95%;
  }
  
  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    &.card-back-face {
      transform: rotateY(180deg);
    }
  }

  &.is-flipped {
    transform: rotateY(180deg);
  }

  &.is-inactive {
    visibility: hidden;
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
<<<<<<< HEAD
=======
  padding-top: 5%;
  padding-bottom: 5%;
}

#gameTitle {
  position: absolute;
  margin-top: -80px;
  margin-left: 100px;
  font-size: 28px;
>>>>>>> d6d77d300431365e3f8dfbe20dbe51b0ccc7dbcc
}